%card-base {
    display: flex;
    // margin: 2rem 0;
    align-items: center;
    flex-direction: column;
    border-radius: 0px 8px 8px 0px;
}

%card-text {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 10%;
    height: 100%;
    width: 100%;
    justify-content: center;
    background-color: rgb(248, 248, 248);
    box-shadow: 2px 4px 3px 1px rgba(152, 152, 226, 0.15);
    color: rgb(56, 56, 56);
    border-radius: 0px 8px 8px 0px;

    @media screen and (max-width: 420px) {
        gap: 1rem;
    }
}

%drm-type {
    border-left: 10px solid white;
}

.steam {
    @extend %drm-type;
    border-left-color: rgb(56, 81, 163);
}

.epic {
    @extend %drm-type;
    border-left-color: rgb(49, 49, 49);
}

.hidden {
    display: none;
}

.mini-card {
    @extend %card-base;
    // height: 200px;
    width: 100%;
    max-height: 300px;
    transition: 500ms;

    .mini-card-text{
        @extend %card-text;
        width: 100%;
        min-height: 100%;
        // justify-content: space-between;
    }
}

.mini-card-slide {
    transform: translateX(-100vw);
}

.links a {
    border: 1px solid var(--cta-color);
    color: var(--text-color);
    text-decoration: none;
    padding: 1.5rem 2rem;

    @media screen and (min-width: 800px) {
        font-size: 1.4rem;
    }
}

#filter {
    padding: 1rem;
    margin: 1rem;
}
