%card-base {
    display: flex;
    // margin: 2rem 0;
    align-items: center;
    flex-direction: column;
}

%card-text {
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 4rem;
    height: 100%;
    width: 100%;
    justify-content: center;
    background-color: rgb(170, 158, 158);
    box-shadow: 2px 4px 3px 1px rgba(152, 152, 226, 0.15);
    color: white;
    border-radius: 4px 4px 4px 4px;
}

.mini-card {
    @extend %card-base;
    // height: 200px;
    width: 100%;

    .mini-card-text{
        @extend %card-text;
        width: 100%;
        min-height: 100%;
        // justify-content: space-between;
    }
}

.links a {
    border: 1px solid var(--cta-color);
    color: white;
    text-decoration: none;
    padding: 1.5rem 2rem;
}