main {
    padding: 0 10%;

}

.background-gradient {
    background: rgb(101,103,105);
    background: linear-gradient(0deg, rgb(120, 122, 124) 0%, rgba(128,147,171,1) 40%, rgba(240,241,241,1) 100%);
    background-repeat: no-repeat;
}

.title {
    text-align: center;
    padding: 8vh 0 2rem;

}

.filter-container {
    text-align: center;
    margin-bottom: 8vh;

    button {
        padding: 1.5rem;
        background-color: rgb(83, 121, 192);
        border-style: none;
        color: white;
    }

    .filter-select {
        margin: 2rem 0;
    }
}

.results-container {
    display: grid; 
    grid-template-columns: 1fr;
    gap: 1rem;
    min-height: 100vh;

    @media screen and (min-width: 800px) {
        gap: 2rem;
    }

    padding-bottom: 10vh;
}

.links {
    display: flex;
    gap: 1rem;

}